/* line 5, ../sass/1.base/_normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 9, ../sass/1.base/_normalize.sass */
audio, canvas, video {
  display: inline-block;
}

/* line 12, ../sass/1.base/_normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 20, ../sass/1.base/_normalize.sass */
[hidden] {
  display: none;
}

/* line 26, ../sass/1.base/_normalize.sass */
html {
  background: white;
  color: black;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 41, ../sass/1.base/_normalize.sass */
body {
  margin: 0;
}

/* line 49, ../sass/1.base/_normalize.sass */
a:focus {
  outline: thin dotted;
}
/* line 53, ../sass/1.base/_normalize.sass */
a:active, a:hover {
  outline: 0;
}

/* line 60, ../sass/1.base/_normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 65, ../sass/1.base/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 69, ../sass/1.base/_normalize.sass */
b, strong {
  font-weight: bold;
}

/* line 73, ../sass/1.base/_normalize.sass */
dfn {
  font-style: italic;
}

/* line 77, ../sass/1.base/_normalize.sass */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 83, ../sass/1.base/_normalize.sass */
mark {
  background: yellow;
  color: black;
}

/* line 88, ../sass/1.base/_normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 93, ../sass/1.base/_normalize.sass */
pre {
  white-space: pre-wrap;
}

/* line 97, ../sass/1.base/_normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 101, ../sass/1.base/_normalize.sass */
small {
  font-size: 80%;
}

/* line 105, ../sass/1.base/_normalize.sass */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 111, ../sass/1.base/_normalize.sass */
sup {
  top: -0.5em;
}

/* line 114, ../sass/1.base/_normalize.sass */
sub {
  bottom: -0.25em;
}

/* line 121, ../sass/1.base/_normalize.sass */
img {
  border: 0;
}

/* line 125, ../sass/1.base/_normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 132, ../sass/1.base/_normalize.sass */
figure {
  margin: 0;
}

/* line 139, ../sass/1.base/_normalize.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 144, ../sass/1.base/_normalize.sass */
legend {
  border: 0;
  padding: 0;
}

/* line 151, ../sass/1.base/_normalize.sass */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 162, ../sass/1.base/_normalize.sass */
button, input {
  line-height: normal;
}

/* line 169, ../sass/1.base/_normalize.sass */
button, select {
  text-transform: none;
}

/* line 172, ../sass/1.base/_normalize.sass */
button, html input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 181, ../sass/1.base/_normalize.sass */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 185, ../sass/1.base/_normalize.sass */
input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
/* line 192, ../sass/1.base/_normalize.sass */
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 202, ../sass/1.base/_normalize.sass */
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 206, ../sass/1.base/_normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 210, ../sass/1.base/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 221, ../sass/1.base/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../sass/1.base/_base.sass */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 6, ../sass/1.base/_base.sass */
.wrap {
  width: 960px;
  margin: 0 auto;
  background: #333333;
}

/* line 34, ../sass/0.site-settings/_mixins.sass */
.row {
  *zoom: 1;
}
/* line 36, ../sass/0.site-settings/_mixins.sass */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 39, ../sass/0.site-settings/_mixins.sass */
.row:after {
  clear: both;
}

/* line 2, ../sass/2.layout/_grid.sass */
.span1, .span2, .span3, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  position: relative;
  float: left;
  margin: 0 0.5%;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
}

/* line 11, ../sass/2.layout/_grid.sass */
.span1 {
  width: 7.33333%;
}

/* line 14, ../sass/2.layout/_grid.sass */
.span2 {
  width: 15.66667%;
}

/* line 17, ../sass/2.layout/_grid.sass */
.span3 {
  width: 24%;
}

/* line 20, ../sass/2.layout/_grid.sass */
.span4 {
  width: 32.33333%;
}

/* line 23, ../sass/2.layout/_grid.sass */
.span5 {
  width: 40.66667%;
}

/* line 26, ../sass/2.layout/_grid.sass */
.span6 {
  width: 49%;
}

/* line 29, ../sass/2.layout/_grid.sass */
.span7 {
  width: 57.33333%;
}

/* line 32, ../sass/2.layout/_grid.sass */
.span8 {
  width: 65.66667%;
}

/* line 35, ../sass/2.layout/_grid.sass */
.span9 {
  width: 74%;
}

/* line 38, ../sass/2.layout/_grid.sass */
.span10 {
  width: 82.33333%;
}

/* line 41, ../sass/2.layout/_grid.sass */
.span11 {
  width: 90.66667%;
}

/* line 44, ../sass/2.layout/_grid.sass */
.span12 {
  width: 99%;
}

/* line 3, ../sass/2.layout/_layout.sass */
body, html, .box__main-content, .box__sidebar {
  height: 100%;
}

/* line 10, ../sass/2.layout/_layout.sass */
.box_logotipo {
  margin-top: 30px;
}
/* line 12, ../sass/2.layout/_layout.sass */
.box_logotipo img {
  display: block;
  width: 90%;
  max-width: 313px;
  height: auto;
  margin: 0 auto;
}

/* line 19, ../sass/2.layout/_layout.sass */
.box__main-content {
  width: 100%;
}

/* line 22, ../sass/2.layout/_layout.sass */
.mapa_locais {
  width: 100%;
  height: 100%;
  background: #eeeeee;
}

/* line 1, ../sass/3.module/_module.sass */
.lista_artistas {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 6, ../sass/3.module/_module.sass */
.lista_artistas li {
  display: inline-block;
}
